.loadLandingPage {
  animation: load-page 1000ms ease-in;
  animation-fill-mode: forwards;
}

.removingLandingPage {
  animation: remove-page 800ms ease-in;
  animation-fill-mode: forwards;
}

.loadPokemonsPage {
  animation: load-page 500ms ease-in;
  animation-fill-mode: forwards;
}

.removingPokemonsPage {
  animation: remove-pokemons-page 500ms ease-in;
  animation-fill-mode: forwards;
}

.loadPokemonsCard {
  animation: load-card 300ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes remove-pokemons-page {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes load-page {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes remove-page {
  0% {
    transform: translateY(0px);
    /* opacity: 1; */
  }
  100% {
    transform: translateY(-100vh);
    /* opacity: 0; */
  }
}

@keyframes load-card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
