.cardsManager {
  display: flex;
  flex-direction: column;
  height: 88%;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.cardsDisplayer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
