.cardsManager {
  display: flex;
  flex-direction: column;
  height: 88%;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.cardsDisplayer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  margin-bottom: 1rem;
  font-size: x-large;
}

.icons {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.button {
  width: 3rem;
  height: 1.5rem;
  font-size: small;
  text-align: center;
  border: none;
  border-radius: 20px;
}

.selected {
  background-color: red;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
