.wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 50px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 10px;
}

.inputWrapper {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.inputWrapper::before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  transform: scaleX(0.3);
  opacity: 0;
  transition: transform, opacity, 200ms ease-in-out;
}

.inputWrapper:hover::before,
.inputWrapper:focus::before {
  opacity: 1;
  transform: scaleX(0.7);
  background-color: yellow;
}

/*  */

.inputWrapper2 {
  position: relative;
  display: flex;
  width: 2.3rem;
  align-items: center;
  justify-content: center;
}

.inputWrapper2::before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  transform: scaleX(0.3);
  opacity: 0;
  transition: transform, opacity, 200ms ease-in-out;
}

.inputWrapper2:hover::before,
.inputWrapper2:focus::before {
  opacity: 1;
  transform: scaleX(1);
  background-color: yellow;
}

/* Required color override */

.inputWrapper[required]:hover::before,
.inputWrapper[required]:focus::before,
.inputWrapper2[required]:hover::before,
.inputWrapper2[required]:focus::before {
  background-color: red;
}

.inputWrapper[required] > .name,
.inputWrapper[required] > .id,
.inputWrapper2[required] > .wh {
  border-color: red;
}
.inputWrapper[required] > .name:focus,
.inputWrapper[required] > .id:focus,
.inputWrapper2[required] > .wh:focus {
  border-color: yellow;
}

.type1[required] {
  border-color: red;
}

.name,
.id,
.wh,
.type1 {
  position: relative;
  border: none;
  border-bottom: 2px solid gray;
  background: none;
  text-align: center;
  color: white;
  padding: 0;
  transition: border-bottom 200ms ease-in-out;
}

.name:focus,
.id:focus,
.wh:focus,
.type1:focus {
  outline: none;
  border-bottom: 2px solid yellow;
  padding: 0;
}

.name {
  /* font-size: xxx-large; */
  width: 60%;
  font-size: xx-large;
}

.id {
  width: 50%;
  opacity: 0.7;
}

.wh {
  width: 100%;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 40px;
}

.types {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  width: 20px;
}

.stats > div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0; */
  gap: 5px;
}

.image {
  width: 380px;
  height: 380px;
}

.click {
  color: gray;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% -50%;
  cursor: pointer;
  transition: scale, color, 100ms ease-in-out;
}

.click:hover {
  scale: 1.4;
  color: whitesmoke;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons > button {
  border: none;
  padding: 2% 4%;
  cursor: pointer;
}

/*  */

.url {
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 2px solid gray;
  background: none;
  text-align: center;
  color: white;
  padding: 0;
  transition: border-bottom 200ms ease-in-out;
}

.url:focus {
  outline: none;
  box-sizing: border-box;
  border-bottom: 2px solid yellow;
  padding: 0;
}

.inputWrapper3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputWrapper3 > input {
  height: 100%;
}

.inputWrapper3::before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  transform: scaleX(0.3);
  opacity: 0;
  transition: transform, opacity, 200ms ease-in-out;
}

.inputWrapper3:hover::before,
.inputWrapper3:focus::before {
  opacity: 1;
  transform: scaleX(1);
  background-color: yellow;
}

/* Clear and random */

.cr {
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  scale: 1;
  transition: scale 200ms ease-in-out;
}

.cr:hover,
.cr:focus {
  scale: 1.1;
}

.cr::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  height: 2px;
  background-color: yellow;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.cr:hover::before,
.cr:focus::before {
  transform: scaleX(1);
}

/* Create new pokemon button */

.create {
  position: relative;
  margin-top: 2rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  scale: 1;
  background-image: linear-gradient(transparent 10%, yellow);
  background-clip: text;
  /* color: transparent; */
  color: inherit;
  transition: color 200ms ease-in-out, scale 200ms ease-in-out;
}

.create:hover,
.create:focus {
  scale: 1.3;
  animation-play-state: running;
  color: transparent;
}

/* COLORS FOR TYPES */

.type1 {
  padding: 0 2%;
  margin: 3px 0;
  padding: 1% 1%;
  border-radius: 10px;
  transition: border-color, color, 300ms ease-in-out;
}

.type1[data="Grass"],
.type2[data="Grass"] {
  background-image: linear-gradient(#a0cc54 50%, #a0cc54 50%);
  border-color: #a0cc54;
  color: black;
}

.type1[data="Poison"],
.type2[data="Poison"] {
  background-image: linear-gradient(#dc07cc 50%, #dc07cc 50%);
  border-color: #dc07cc;
}

.type1[data="Fire"],
.type2[data="Fire"] {
  background-image: linear-gradient(#ff7c24 50%, #ff7c24 50%);
  border-color: #ff7c24;
}

.type1[data="Flying"],
.type2[data="Flying"] {
  background-image: linear-gradient(#40c4ec 50%, #c0bcbc 50%);
  border-color: #c0bcbc;
  color: black;
}

.type1[data="Water"],
.type2[data="Water"] {
  background-image: linear-gradient(#4894c4 50%, #4894c4 50%);
  border-color: #4894c4;
}

.type1[data="Bug"],
.type2[data="Bug"] {
  background-image: linear-gradient(#789c3c 50%, #789c3c 50%);
  border-color: #789c3c;
}

.type1[data="Normal"],
.type2[data="Normal"] {
  background-image: linear-gradient(#a8acac 50%, #a8acac 50%);
  border-color: #a8acac;
  color: black;
}

.type1[data="Electric"],
.type2[data="Electric"] {
  background-image: linear-gradient(#f0d434 50%, #f0d434 50%);
  border-color: #f0d434;
  color: black;
}

.type1[data="Ground"],
.type2[data="Ground"] {
  background-image: linear-gradient(#f8dc3c 50%, #b09c44 50%);
  border-color: #b09c44;
  color: black;
}

.type1[data="Fairy"],
.type2[data="Fairy"] {
  background-image: linear-gradient(#ffbcec 50%, #ffbcec 50%);
  border-color: #ffbcec;
  color: black;
}

.type1[data="Fighting"],
.type2[data="Fighting"] {
  background-image: linear-gradient(#b4581c 50%, #b4581c 50%);
  border-color: #b4581c;
}

.type1[data="Psychic"],
.type2[data="Psychic"] {
  background-image: linear-gradient(#f864bc 50%, #f864bc 50%);
  border-color: #f864bc;
}

.type1[data="Rock"],
.type2[data="Rock"] {
  background-image: linear-gradient(#a88c24 50%, #a88c24 50%);
  border-color: #a88c24;
}

.type1[data="Steel"],
.type2[data="Steel"] {
  background-image: linear-gradient(#a0b4bc 50%, #a0b4bc 50%);
  border-color: #a0b4bc;
  color: black;
}

.type1[data="Ice"],
.type2[data="Ice"] {
  background-image: linear-gradient(#58c4e4 50%, #58c4e4 50%);
  border-color: #58c4e4;
  color: black;
}

.type1[data="Ghost"],
.type2[data="Ghost"] {
  background-image: linear-gradient(#8064a4 50%, #8064a4 50%);
  border-color: #8064a4;
}

.type1[data="Dragon"],
.type2[data="Dragon"] {
  background-image: linear-gradient(#58a4cc 50%, #f86c54 50%);
  border-color: #f86c54;
}

.type1[data="Dark"],
.type2[data="Dark"] {
  background-image: linear-gradient(#161a1c 50%, #161a1c 50%);
  border-color: #161a1c;
}

/* MODAL STYLES */

.modal {
  background-color: #00000099;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  cursor: pointer;
  z-index: 1;
  animation: showing 200ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal[data-removing="true"] {
  animation: disapear 200ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .modal:hover {
  scale: 1.4;
  color: whitesmoke;
} */
