.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width {
  width: 80%;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input {
  margin-top: 20px;
  border-radius: 40px;
  text-align: center;
  padding: 5px 0;
  font-size: medium;
  width: 70%;
  border: none;
}

.filterTitle {
  position: relative;
  font-size: xx-large;
  height: 50px;
  width: 100%;
}

.searchTitle {
  font-size: x-large;
}

.smallGap {
  gap: 10%;
}

.mediumGap {
  gap: 10px;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
