.button {
  margin: 0.3rem 0;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 3px 10px;
  transition: scale, color, 200ms ease-in-out;
}

.selected {
  -webkit-box-shadow: 0px 0px 0px 4px rgb(179, 84, 30);
  -moz-box-shadow: 0px 0px 0px 4px rgb(179, 84, 30);
  box-shadow: 0px 0px 0px 4px rgb(179, 84, 30);
}

.button:hover,
.button:focus {
  scale: 1.2;
  background-color: #b3541e;
}
