.individualCard {
  /* background-color: red; */
  width: 15%;
  /* height: 200px; */
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardTitle {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.miniImage {
  width: 144px;
  height: 144px;
}

.loadingGif {
  object-fit: cover;
}
