.window {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interface {
  width: 90%;
  height: 90%;
  /* max-width: 1000px; */
  display: flex;
  justify-content: space-between;
}

.leftPanel {
  height: 100%;
  width: 30%;
  /* background-color: gold; */
}

.rightPanel {
  height: 100%;
  width: 70%;
}

.click {
  color: gray;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% -50%;
  cursor: pointer;
}
