.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 50px;
}

.title {
  display: flex;
  position: relative;
  margin-bottom: 40px;
  justify-content: center;
}

.name {
  font-size: xxx-large;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 40px;
}

.types {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  width: 20px;
}

.stats > p {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0; */
  gap: 5px;
}

.image {
  object-fit: cover;
  width: 450px;
  height: 450px;
}

.click {
  color: gray;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% -50%;
}

.id {
  position: absolute;
  bottom: -30%;
}
