.individualCard {
  /* background-color: red; */
  width: 200px;
  /* height: 200px; */
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardTitle {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.miniImage {
  width: inherit;
  height: 100%;
}
