.individualCardd {
  position: relative;
  margin: 5px;
  outline: 1px gray solid;
  padding: 10px 0;
  border-radius: 5%;
  cursor: pointer;
  background-image: linear-gradient(transparent 50%, transparent);
  transition: all 200ms ease-in-out;
  /* transition: background-image 200ms ease-in-out; */
  overflow: hidden;
  text-align: center;
}

.individualCardd::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(transparent 40%, gray);
  z-index: -1;
  transition: all 200ms ease-in-out;
  opacity: 0;
}

.individualCardd:hover::before,
.individualCardd:focus::before {
  opacity: 1;
}

.individualCardd:hover,
.individualCardd:focus {
  scale: 1.05;
}

.cardTitle {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.cardTitle > p {
  font-size: medium;
}

.miniImage {
  object-fit: cover;
  width: 144px;
  height: 144px;
}

@media (max-width: 768px) {
  .miniImage {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 600px) {
  .miniImage {
    width: 50px;
    height: 50px;
  }
}

.miniImage[data-css="true"] {
  box-sizing: border-box;
  padding: 10px;
  width: 144px;
  height: 144px;
}

.loadingGif {
  object-fit: cover;
}

.cardTypes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

@media (max-width: 600px) {
  .cardTypes {
    /* width: 90%; */
    /* font-size: small; */
  }
}
